ion-tab-bar {
  height: 70px;
  margin: 10px 20px;
  color: var(--white);
  border: none;
  ion-icon {
  font-size: 42px;
  width: -webkit-fill-available;
  fill: var(--secondaryDarkBlue);
}
  ion-label {
    font-size: 14px;
    letter-spacing: 0.13px;
    color: var(--secondaryDarkBlue);
  }
}
.tab-selected {
   ion-label {
    color: var(--ion-color-primary);
  }
   ion-icon {
    fill: var(--ion-color-primary);
  }
} 
